button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: rgb(144, 25, 160);
    font-weight: bold;
    margin-top: 25px;

}


#sudoku-grid input {
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

body {
    justify-items: center;
    text-align: center;
    
}
